@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
    section{
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: serif;
       

    }
    #a, #b, #c{
        background-color: white;
        

    }
    .nav {
        display: flex;
        position: fixed;
        background-color: #141414;
        justify-content: space-between;
        width: 100%;
    }
    .logo {
        padding: 14px 16px;
        color: white;
    }
    li{
        float: left;
    }
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    

.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.9em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}


body {
margin: 0px;  
background: hsl(0, 0%, 98%);
font-family: 'Poppins';
font-size: 15px;
}

/* main container */
.container {
width: 100%;
max-width: 1440px;
min-width: 375px;
margin-left: auto;
margin-right: auto;
}

#body-header {
width: 75%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 4rem auto 2rem auto;
padding: 1rem;
text-align: center;
}

#body-header h1{
/* font-size: 2rem; */
margin-bottom: 0.5rem;
}

#body-header h2 {
/* font-size: 2rem; */
text-transform: uppercase;
}

#body-header p {
/* font-size: 1rem; */
margin: 2% 16%; 
}

#card-container {
width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
padding-top: 2rem;
padding-bottom: 2rem;
}

#card-container div{
flex-grow: 1;
flex-basis: calc(100% / 4);
align-self: center;
padding: auto 1rem;
}

#col-2 {
display: flex;
flex-direction: column;
justify-content: center;
}


.card {
height: auto;
padding: 2rem;
margin: 1rem;
border-radius: 5%;
box-shadow: 0px 3px 8px rgb(187, 185, 185);
}


.card h2 {
font-size: 1.5rem;
}


.card p {
font-size: 1rem;
margin: 2rem auto 2rem auto;
text-align: left;
}

.card img {
display: block;
margin-left: auto;
margin-right: 0;
width: 18%;
height: auto;
padding-right: 0px;
padding-left: auto; 
}



#card-1 {
border-top: 5px solid hsl(180, 62%, 55%);
align-self: center;
}

#card-2 {
border-top: 5px solid hsl(0, 78%, 62%);
}

#card-3 {
border-top: 5px solid hsl(34, 97%, 64%);
}

#card-4 {
border-top: 5px solid hsl(212, 86%, 64%);
align-self: center;
}

.heading-1 {
font-weight: 200;
line-height: 1.6rem;
margin: 2px;
color: hsl(229, 6%, 66%);
}

.heading-2 {
font-weight: 600;
margin: 2px;
color: rgb(6, 6, 71);
}



.description-text {
font-weight: 400;
line-height: 1rem;
color:  hsl(229, 6%, 66%);
}

footer {
height: 50px;
margin-top: 50px;
background: #F7FDFF;
color: white;
text-align: center;
}

footer p a {
text-decoration: none;
font-weight: 600;
color: grey;
}

/* Small Screens */
@media (max-width: 900px) {
.container {
justify-items: center;
justify-content: center;
}

#card-container {
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#body-header > h1, h2{
font-size: 1.5rem;
}

.card, #body-header{
width: 70vw;
height: auto;
border: none;
}

#card-1, #card-3 {
align-self: auto;
}
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono";
  font-size: 18px;
}
#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
  
  
}
.container-about {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  /*   text-align: center; */
}
#hero .info h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}
#hero .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}
#hero .info a {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
  color: #ee6c09;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}


